
<% include ../shared/header.ejs %>
<div class="container">
    <h1 style="text-align: center; font-weight: bold; padding: 10px">Event's List</h1>
<%if (user.userType == "admin"){%>
<table class="table table-striped table-bordered table-hover">
    <caption>Event Information</caption>
    <tr>
        <th>Event</th>
        <th>Delete</th>
    </tr>
    <% for(i=0; i<events.length; i++) { %>
    <tr >
        <td><%= events[i].eventName %></td>
        <td>
            <a href="/events/delete/<%= events[i]._id%>" class="btn btn-danger col-md-3" onclick="return confirm('Are you sure want to delete this Event?')"> Delete Event</a></td>
    </tr>
    <%}%>
</table>
<%}
else{%>
<h1> Sorry You do not have Permission to access this page.</h1>
<%}%>
</div>
<% include ../shared/footer.ejs %>