
<% include ../shared/header.ejs %>
<%if (user.userType == "admin"){%>
<div class="container">
<h1 style="text-align: center">Dashboard</h1><hr>
<!--<h5 class="addevent-head"><a href="../events">See the existing events</a></h5>-->
<div class="container addevent">
    <form action="" method="post">
        <label id="eventName" for="eventName">Create events here</label><br>
        <input type="text" name="eventName" required>
        <button type="submit">Create</button>
    </form>
</div>
<%}
else{%>
<h1> Sorry You do not have Permission to access this page.</h1>
<%}%>
</div>
<% include ../shared/footer.ejs %>