
<% include ../shared/header.ejs %>
<%if (user.userType == "admin"){%>
<h1>Events List</h1>
<table class="table table-striped table-hover">
    <tr>
        <th>Events</th>
    </tr>
    <% for(i=0; i<events.length; i++) { %>
    <tr>
        <td><%= i %></td>
        <td><%= events[i].eventName %></td>
    </tr>
    <%}%>
</table>
<%}
else{%>
<h1> Sorry You do not have Permission to access this page.</h1>
<%}%>
<% include ../shared/footer.ejs %>