<% include ../shared/header.ejs %>

<%if (user.userType == "admin"){%>

<div class="container">
<div class="row">
    <div class="col-1">
        <a href="/admin/addEvent" class="btn btn-success">Add Event</a>
    </div>
    <div class="col-11">

<h1 class="admin-heading">Dashboard</h1>
    </div>
</div>
    <hr>
    <div class="row">
    <div class="col-6">
        <h2 class="admin-h2">Total no. of Users</h2>
        <p><a href="#" class="admin-para"><%= users.length %></a></p>
    </div>
    <div class="col-6">
        <h2 class="admin-h2">Events</h2>
        <p><a href="/events/" class="admin-para"><%= events.length %></a></p>
    </div>
    </div>
    <div class="row">
    <div class="col-6">
        <h2 class="admin-h2">Jobseeker</h2>
        <p><a href="/admin/jobseekers" class="admin-para"><%= jobseeker.length %></a></p>
    </div>
    <div class="col-6">
        <h2 class="admin-h2">Employers</h2>
        <p><a href="/admin/employers" class="admin-para"><%= employers.length %></a></p>
    </div>
    <div class="col-6">
         <h2 class="admin-h2">Announcement</h2>
        <p><a href="/admin/announcement" class="admin-para"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1186-200.png" style="width: 15%"></a></p>
    </div>

</div>
    <hr>
<!--<div class="offset-4 col-md-6">-->
    <!--<a class="btn btn-warning offset-1" href="/admin/jobseekers">Job Seekers</a>-->
    <!--<a class="btn btn-primary offset-1" href="/admin/employers">Employers</a>-->
    <!--<a class="btn btn-info offset-1" href="/admin/addEvent">Create Event</a>-->
<!--</div>-->
<%}
else{%>
<h1> Sorry You do not have Permission to access this page.</h1>
<%}%>
</div>
<% include ../shared/footer.ejs %>


