</main>
<footer class="fixed-bottom card-footer container">
    <p><small>Copyright &copy;</small> <strong>Simcoe Muskoka Workforce Development Board </strong>|| Developed By <strong>Ace Web Developments</strong></p>
</footer>
</body>
</html>
