</main>
<footer>
    <div class="row">
        <div class="col-2">
            <h6>About Us</h6>
            <ul class="nav"><li><a href="#">About SMWDB</a></li></ul>
            <ul class="nav"><li><a href="#">Career</a></li></ul>
            <ul class="nav"><li><a href="#">Privacy Notice</a></li></ul>

        </div>
        <div class="col-2">
            <h6>For Employer</h6>
            <ul class="nav"><li><a href="#">Job Post</a></li></ul>
            <ul class="nav"><li><a href="#">Access to Job Seeker</a></li></ul>
            <ul class="nav"><li><a href="#">News & Advice</a></li></ul>
        </div>
        <div class="col-2">
            <h6>Help & support</h6>
            <ul class="nav"><li><a href="#">Customer Service</a></li></ul>
            <ul class="nav"><li><a href="#">Be Partner</a></li></ul>
            <ul class="nav"><li><a href="#">Policies</a></li></ul>
            <ul class="nav"><li><a href="#">Sitemap</a></li></ul>
        </div>
        <div class="col-2">
            <h6>Find Job</h6>
            <ul class="nav"><li><a href="#">By Name</a></li></ul>
            <ul class="nav"><li><a href="#">By Location</a></li></ul>
        </div>
        <div class="col-4">
            <h6>Stay Connected</h6>
            <nav>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </nav>
        </div>
    </div><hr>
    <p><small>Copyright &copy;</small> <strong>Simcoe Muskoka Workforce Development Board </strong>|| Developed By <strong>Ace Web Developments</strong></p>
</footer>
<script type="text/javascript" src="../javascripts/bootstrap.js"></script>
<script type="text/javascript" src="../javascripts/custom.js"></script>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</html>