<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.min.css" />
    <link rel="icon" href="images/favicon.ico" type="image">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg ">
        <img src="../images/SMWDB_logo.png" alt="SMWDB_logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jobSeeker">JOB SEEKER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employer">EMPLOYERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">HELP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactUs">CONTACT US</a>
                </li>
            </ul>
            <div class="action">
                <%if (!user){%><a href="/register" class="btn btn-primary">REGISTER</a>
                <a href="/login" class="btn btn-success">LOGIN</a><%}
                else{%>
                <%if (user.userType === "admin"){%>
                <a href="/admin/">Go To Dashboard</a>
                <%}%>
            <div class="dropdown">
                    <a onclick="myFunction()" href="#" class="dropbtn"><%= user.username%></a>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/jobSeekers/">Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>

            </div>
           <%}%>
    </div>

</nav>


</header>

<main role="main">