<% include ../views/shared/header%>

<!--Employer Page Section-->

<div class="employer_slider container">
    <div class="row">
        <div class="col-7">
            <img src="/images/employer.png" alt="employer">
        </div>
        <div class="employer_text col-5">
            <h4>ACE EMPLOYER ZONE</h4>
            <button class="btn btn-primary">Register Now</button>
        </div>
    </div>
</div>

<!--Employer Service-->

<div class="employer_service container">
    <div class="row">
        <div class="col-6">
            <h4>Job Posting Service</h4>
            <p>
                Post your job in minute ! Find candidate
                right way today. Advertise your job.
                Make the Right Hire, Largest network
            </p>
        </div>
        <div class="col-6">
            <h4>Privacy Notice</h4>
            <p>
                You must read and understood the
                privacy statement and posting notice
                requirement before posting any
                new job.
            </p>
        </div>
    </div>
</div>
<hr>

<!--Employer Choice -->

<div class="employer_choice container">
    <h5>Why Choose SMWDB</h5>
    <div class="row">
        <div class="col-4">
            <img src="/images/client.png" alt="client">
            <h5>Large corporate clients</h5>

        </div>
        <div class="col-4">
            <img src="/images/employer.jpg" alt="employer">
            <h5>500+ Employer Partnership</h5>

        </div>
        <div class="col-4">
            <img src="/images/worldwide.jpg" alt="worldwide">
            <h5>worldwide access</h5>

        </div>
        <!--<button class="btn btn-primary">Contact Us</button>-->
    </div><hr>
</div>


<% include ../views/shared/footer %>