<% include ../views/shared/header%>

<div class="help container">
    <!--Slider Section-->
    <section>
        <img src="/images/help.jpg" alt="help"></section><hr>
        <!--Service Help-->
        <!--idea from Indeed Help-->
            <h2 style="text-align: center; font-weight: bold; padding: 10px">Service Help</h2>
            <section class="row">
                <!--resume help-->
                <div class="resume_help col-6">
                    <h3>Chat with our Team!</h3>
                    <img src="/images/chat-image.png" alt="chat"><br>
                    <a href="#">Quick Guide for chat! </a><br>
                    <a href="#">Ask about any event related queries</a><br>
                    <a href="#">Feeling Nervous? Tal to our Motivational speaker</a>
                </div>
                <!--Employer Service-->
                <div class="search_tips col-6">
                    <h3>Job search Tips</h3>
                    <img src="/images/job_tips.png" alt="job_tips"><br>
                    <a href="#">Guideline for safe search</a><br>
                    <a href="#">Search by Name</a><br>
                    <a href="#">Search By location</a><br>
                    <a href="#">Save search Job</a>
                </div>
            </section>
<hr>
    <div id="accordion" role="tablist">
        <section class="card-A">
            <header class="card-header" id="A9">
                <h2 style="padding: 10px;" data-target="#collapseone" data-toggle="collapse" aria-expanded="false">
                    Most Popular FAQ's
                </h2>
            </header>
            <div class="collapse" role="tabpanel" id="collapseone">
                <div class="card-body">
                    <p><b>+</b> How i can find perfect resume for myself ?<br><b>+</b> What is a resume template service ?<br><b>+</b> How I can upload my resume on your website ?<br><b>+</b> Is it Important to have user profile ?</p>
                </div>
            </div>
        </section>
    </div>
</div>

<% include ../views/shared/footer %>