<% include ../views/shared/header%>
<% include ../views/admin/notification.ejs%>


<div class="help container">
    <!--Slider Section-->
    <section><img src="/images/help.jpg" alt="help"></section><hr>
    <!--Help Section-->
    <div class="row">
        <!--FAQ Section-->
        <div class="faq col-3">
            <h4>Most Popular FAQ</h4>
            <h6> <b>+</b> How i can find perfect resume for myself ?</h6>
            <h6> <b>+</b> What is a resume template service ?</h6>
            <h6> <b>+</b> How I can upload my resume on your website ?</h6>
            <h6> <b>+</b> Is it Important to have user profile ?</h6>
        </div>
        <!--Service Help-->
        <!--idea from Indeed Help-->
        <div class="service_help col-6">
            <h4>Service Help</h4>
            <section class="row">
                <!--resume help-->
                <div class="resume_help col-6">
                    <h5>Resume Writing</h5>
                    <img src="/images/template.jpg" alt="resume"><br>
                    <a href="#">Upload your resume</a><br>
                    <a href="#">Edit, update Resume</a><br>
                    <a href="#">Find best Template for you</a><br>
                    <a href="#">Save my Resume</a>
                </div>
                <!--Employer Service-->
                <div class="search_tips col-6">
                    <h5>Job search Tips</h5>
                    <img src="/images/job_tips.png" alt="job_tips"><br>
                    <a href="#">Guideline for safe search</a><br>
                    <a href="#">Search by Name</a><br>
                    <a href="#">Search By location</a><br>
                    <a href="#">Save search Job</a>
                </div>
            </section>
        </div>
        <!--Career News-->
        <div class="career_news col-3">
            <h4>Career News</h4>
            <a href="#">Follow these tips to improve your Interview performance</a><br>
            <a href="#">How to do follow up after an interview</a><br>
            <a href="#">How to stay positive during interview</a><br>
            <a href="#">Top 20 interview question and answer</a><br>
        </div>
    </div>
</div>

<% include ../views/shared/footer %>