<% include ../views/shared/header%>

<div class="career_section">
    <h3>Welcome to the Career Center</h3><hr>
    <div class="container">
            <div class="row">
                <div class="col-5">
            <!--Ad section-->
            <div class="ad_section">
                <img src="/images/post.jpg" alt="ads"><br>
                <a href="postJobs" class="btn btn-primary">See Posted Jobs</a>
            </div>
                </div>
                <div class="col-7">
                    <img src="/images/membangun-bisnis-waralaba.png" alt="ads" style="height: 350px;">
                </div>
        </div>
        <hr>
            <!--Career Info Section -->
            <div class="career_info">
                <!--<h4>Build Your Own Career</h4>-->
                <!--<p>-->
                    <!--We are giving you best opportunity to find your career jobs into your field.here you can find more than 50,000+ jobs and more 1000+ partenship with employer. Other than that our expert will help you to find your job.-->
                    <!--You can also find a number of job resource and career advice to find a new jobs and we will tell you what sort of top three problems everybody do when they are applying for new jobs. Here you can also find best  tools for interview prepartion, new resume, latest news related to jobs and career quizs quizzes and tips how to make crticial decision during-->
                    <!--tough time-->
                <!--</p>-->
                <!--Career Advice -->

                <h4>Career Advices</h4>
                <div class="row">
                    <!--Most viewed -->
                    <div class="col-4">
                        <h5>Most Viewed Article</h5>
                        <p><a href="https://www.thebalance.com/how-to-prepare-for-a-job-interview-2061361" target="_blank"> Best five tips for interview prepartion and how to pass it ?</a></p>
                        <p><a href="https://www.sciencenewsforstudents.org/article/cool-jobs-world-aglow" target="_blank"> The most 10 cool jobs of the near future?</a></p>
                        <p><a href="http://career-advice.careerone.com.au/resume-cover-letter/cover-letter/a-cover-letter-is-as-important-as-the-resume/article.aspx" target="_blank"> Why Resume and cover letter good format is important when you applying for job?</a></p>
                        <p><a href="https://careeradvice.careers24.com/career-advice/interview-tips/how-to-and-how-not-to-answer-tell-me-about-yourself-20160902" target="_blank">The worst and best way to answer “Tell me about yourself” during an interview</a> </p>
                        <p><a href="https://careeradvice.careers24.com/career-advice/interview-tips/what-theyre-judging-you-on-before-the-interview-even-starts-20160210" target="_blank">What they’re judging you on before the interview even starts</a> </p>
                    </div>
                    <!--Interview question-->
                    <div class="col-4">
                        <h5>Interview Questions</h5>
                        <p>1. Read first 30 frequently asked question during interview time?</p>
                        <p>2. What kind of drees we need for interview and how to behave with interviewer?</p>
                        <p>3. what sort of question you can ask during intervies time?</p>
                        <p>4. what you need to know before interviews and why your first impression on employer matter? </p>
                        <p><a href="https://www.thebalance.com/top-interview-questions-and-best-answers-2061225" target="_blank">Click to See More...</a> </p>
                    </div>
                    <!--Recent Graduate-->
                    <div class="col-4">
                        <h5>Recent Graduates</h5>
                        <p>Great job opportunity for fresh graduate apply today and build your carreer, good salary and other benefits - click here to apply for this job.</p>
                        <p>American IT technician company looking for new employee -specially recent graduate. Expert in
                            time management, good communication skills. <a href="#">Click here</a> to apply for this job.</p>
                    </div>
                </div>
            </div>
</div>
    <hr>
</div>
<% include ../views/shared/footer.ejs %>