<% include shared/header.ejs%>

<h2 class="page-header">Account Login</h2>
<%if (messages.length > 0) {%>
<div class="alert-danger"><p><%= messages %></p></div>
<%}
else {%>
<div class="alert-info"><p>Please Enter Email and Password.</p></div>
<%}%>
<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="username">Email</label>
        <input type="email" id="username" name="username" placeholder="Email">
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
    </fieldset>
    <button type="submit" class="offset-2 btn btn-primary col-md-1">Submit</button>
    <hr />
    Make an Account  <a href="/register" title="Register">Register</a>
</form>

<% include shared/footer.ejs %>
