<!--<% include ../shared/header.ejs%>-->
<!--<h1>Job Seeker Details</h1>-->
<!--<form action="../jobSeekers/add" method="post">-->
    <!--<fieldset class="form-group">-->
        <!--<label class="control-label col-md-2" for="fName">First Name*: </label>-->
        <!--<input name="fName" id="fName" required />-->
    <!--</fieldset>-->
    <!--<fieldset class="form-group">-->
        <!--<label class="control-label col-md-2" for="lName">Last Name*: </label>-->
        <!--<input name="lName" id="lName" required />-->
    <!--</fieldset>-->
    <!--<fieldset class="form-group">-->
        <!--<label class="control-label col-md-2" for="phoneNo">Contact No: </label>-->
        <!--<input  type="tel" name="phoneNo" id="phoneNo"/>-->
    <!--</fieldset>-->
    <!--&lt;!&ndash;<fieldset class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;<label class="control-label col-md-2" for="resume">Resume: </label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input name="resume" id="resume" type="file" />&ndash;&gt;-->
    <!--&lt;!&ndash;</fieldset>&ndash;&gt;-->
    <!--<button class="offset-2 btn btn-primary">Save</button>-->
<!--</form>-->

<!--<% include ../shared/footer.ejs%>-->