/*header scetion*/
.nav{
  margin: 5px;
}
.navbar img{
  width: 300px;
  height: 200px;
}

.navbar .collapse{
  position: relative;
  top: 70px;
}
.navbar ul{
  padding: 50px;
  font-size: 18px;
  font-weight: 500;
}

.navbar ul li{
  padding: 20px;
}

.navbar ul li a{
  color: #000000;
}

.navbar ul li a:hover{
  color: white;
  background-color:royalblue;
  border-radius:20px;
}


.navbar .profile_section{
  position: relative;
  padding: 5px;
  top: -80px;
  right: 25px;

}
.profile_section .btn{
  font-size: 1em;
  width: 100px;

}

/*dropdown menu*/
.dropbtn {
  color: royalblue;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: lightgreen;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: royalblue;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: lightgreen}

.show {display:block;}

/*Slider section
-----------------------*/

.slider_section{
  width:100%;
  padding: 2.5%;
  background: gainsboro;
  display: block;
  text-align: center;
}

.slider_section img{
  width: 40%;
}

/*posting_section
------------------*/
.posting_section h3{
  padding: 2%;
  text-align: center;
  color: khaki;
}
.ad_section img{
  width: 60%;
}

/*======================================career page
===================================================*/

.career_section h3{
  padding: 5px;
  text-align: center;
}

.career_info h5{
  padding: 5px;
  text-align: center;
}






/*==================Employer Zone
================================*/

.employer_slider {
  width:100%;
  padding: 2.5%;
  background: gainsboro;
  display: block;
  text-align: center;
}

.employer_slider img{
  width:40%;
}

.employer_service{
  padding: 25px;
}


.employer_choice{
  width: 100%;
  text-align: center;
}

.employer_choice img{
  width: 40%;
}

/*service center
============================*/

.service{

  width:100%;
  padding: 2.5%;
  background: gainsboro;
  display: block;
  text-align: center;
}

.service_center img {
  width: 70%;
}
/*footer section
-------------------*/
footer {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  background-color: #f5f5f5;
}
footer nav ul li {

  display: inline-block;
  text-decoration: none;
}
footer nav  ul li a img{
  width: 10%;
}
footer p{
  padding-bottom: -5px;
  text-align: center;
}


/*Mobile format
-----------------------*/

@media only screen and (max-width: 780px) {
  /*header section*/
  .navbar img{
    width: 200px;
    height: 150px;
  }
}