/*body*/
body{
  font-family: 'Rubik', 'Open Sans', sans-serif;
}

/*header scetion*/

.nav{
  margin: 5px;
}
.navbar img{
  width: 300px;
  height: 200px;
}

.navbar .collapse{
  position: relative;
  top: 70px;
}
.navbar ul{
  padding: 50px;
  font-size: 18px;
  font-weight: 500;
}

.navbar ul li{
  padding: 20px;
}

nav ul li a{
  color: #000000;
}

.navbar ul li a:hover{
  border-bottom: 1px solid purple;
  border-right: 1px solid purple;
  box-shadow: 2px 2px #888888;
  overflow: hidden;
  z-index: 2;
}

.navbar .profile_section{
  position: relative;
  padding: 5px;
  top: -50px;
  right: 55px;

}
.profile_section .btn{
  font-size: 1em;
  width: 100px;

}

/*dropdown menu*/
.dropbtn {
  color: royalblue;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: lightgreen;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: royalblue;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: lightgreen}

.show {display:block;}

/*Home Page======
==================*/

.slider_section{
  width:100%;
  padding-bottom: 50px;
  background: gainsboro;
  display: block;
  text-align: center;
}

.slider_section img{
  width: 40%;
}

.posting_section h3{
  padding: 2%;
  text-align: center;
  color: royalblue;
}

.ad_section{
  text-align: center;
}
.ad_section img{
  width: 60%;
}



/*Job Seeker =====
=================*/

.career_section h3{
  padding: 5px;
  text-align: center;
}

.career_info h5{
  padding: 5px;
  text-align: center;
}






/*==================Employer Zone
================================*/

.employer_slider {
  width:100%;
  padding: 60px;
  background: gainsboro;
  display: block;
  text-align: center;
}

.employer_slider img{
  width: 50%;
}

.employer_text{
  position: relative;
  top: 35px;
}
.employer_service{
  padding: 55px;
}

.employer_choice{
  width: 100%;
  text-align: center;
}

.employer_choice img{
  width: 40%;
}



/*need help form ===
=========================*/
.help img{
  width: 100%;
}

.help .row{
  margin: 10px;
  text-align: center;
}

.help .row h6{
  text-align: justify;
}
.faq h6{
  padding: 10px;
  background: grey;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.resume_help{
  padding: 10px;
}

.resume_help img{
  width: 70%;
}

.search_tips{
  padding: 10px;

}
.search_tips img {
  margin: 10px;
  width: 100%;
}

.career_news a{
  color: black;
}


/*Contact Page ===
================================*/

.staff_member{
  display: inline-block;
  text-align: center;
  margin: 20px;
}
.staff_member img{
  width: 20%;
  border-radius: 100px;
}


/*Login Page =
===============*/

.alert{
  border-radius: 15px;
  padding: 20px;
}
/*footer section
-------------------*/
footer {
  padding-top: 25px;
  padding-left: 65px;
  padding-right: 25px;
  padding-bottom: 5px;
  background-color: #f5f5f5;
}
footer nav ul li {

  display: inline-block;
  text-decoration: none;
}
footer nav  ul li a img{
  width: 10%;
}
footer p{
  padding-bottom: -5px;
  text-align: center;
}

.fa-facebook{
  font-size: 35px;
}

.fa-twitter{
  font-size: 35px;
}

.fa-instagram{
  font-size: 35px;
}

.fa-linkedin{
  font-size: 35px;
}
/*Mobile format
-----------------------*/

@media only screen and (max-width: 780px) {
  /*header section*/
  .navbar img{
    width: 200px;
    height: 150px;
  }
}