@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Lustria');
@import url('https://fonts.googleapis.com/css?family=Marvel');
/*header section*/

/*body*/
body{
  font-family: 'Lustria', serif;
}

/*header section*/

.nav{
  margin: 5px;
}
.action{
  position: absolute;
  top: -10px;
  right: 20px;
}
.navbar img{
  width: 240px;
  height: 170px;
}

.navbar .collapse{
  position: relative;
  top: 50px;
  justify-content: center;
}
.navbar ul{
  padding: 50px;
  font-size: 18px;
}

.navbar ul li{
  padding: 25px;
}
.navbar ul li a{
  color: #218838;
}
.nav-tabs{
  border-bottom: none;
}

.navbar ul li a:hover{
  color: #ffffff;
  background: #0069d9;
}



.navbar .profile_section{
  position: relative;
  padding: 5px;
  top: -80px;
  right: 25px;

}
.profile_section .btn{
  font-size: 1em;
  width: 100px;

}

/*dropdown menu*/
.dropbtn {
  color: royalblue;
  padding: 12px;
  font-size: 1.0em;
  border: none;
  cursor: pointer;
  color: #218838 ;
}

.dropbtn:hover, .dropbtn:focus {
  color: lightgreen;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4aa2d4;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: lightgreen}

.show {display:block;}

/*Slider section
-----------------------*/

.slider_section{
  width:100%;
  padding: 2.5%;
  background: gainsboro;
  display: block;
  text-align: center;
}

.slider_section img{
  width: 40%;
}

/* Logo Slider */
h2{
  text-align:center;
  padding: 20px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Register Form */
.register{
  padding: 25px;
  width: 100%;
  position: relative;
  justify-content: center;
  border: gray 1px solid;
  border-radius: 10px;
}

.reg-head {
  text-align: center;
  font-size: 2.5em;
  margin-top: 2%;
}

/* Login form */
form{
  margin-left: 8%;
}
.log-form{
  padding: 25px;
  width: 100%;
  position: relative;
  justify-content: center;
  border: gray 1px solid;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 50px;
}
.loginForm{
  margin-left: 150px;
}
.log-head{
  text-align: center;
  font-size: 2.5em;
  margin-top: 2%;
}

/*Main Section */

.welcome{
  text-align: center;
  font-size: 2.8em;
  font-weight: bold ;
  font-family: 'Trirong', serif;
}

.welcome-2{
  text-align: center;
  font-size: 2.0em;
  font-family: 'Trirong', serif;
}

#job-seeker{
  background-color: #218838;
  font-size: 2.3em;
  position: relative;
  margin-left:55%;
  margin-top: 2%;
  margin-bottom: 3%;
  color: white;
}

#job-seeker:hover{
  background-color: #0069d9;
}

#employer{
  background-color: #218838;
  font-size: 2.3em;
  position: relative;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
  color: white;
}

#employer:hover{
  background-color: #0069d9;
}

.or{
  font-size: 2.0em;
  font-weight: bold ;
  font-family: 'Trirong', serif;
  margin-left: 35%;
  margin-top: 8%;
}

/*posting_section
------------------*/
.posting_section h3{
  padding: 2%;
  text-align: center;
  color: khaki;
}
.ad_section img{
  width: 60%;
}
.ad_section btn-primary
{

}


/* Job Seeker Info */
.jobseekerhead{
  text-align: center;
  padding: 25px;
  font-size: 2.5em;
}

.up-info{
    border: black solid 1px;
    color: black;
    background-color: Transparent;
    border-radius: 0px;
}

.up-info:hover{
    background-color: black;
    color: white;
}

.edit-form{
    border: black 1px solid;
    padding: 25px;
    width: 80%;
    border-radius: 8px 25px 8px;
    margin: 25px;
    margin-left: 8%;
    justify-content: center;
    padding-left: 9%;
}
/*======================================career page
===================================================*/

.career_section h3{
  padding: 5px;
  text-align: center;
}

.career_section .btn-primary{
    background: Transparent !important;
    border: black solid 2px;
    width: 130%;
    color: black !important;
    padding-left: 2%;
    font-weight: bold
}

.career_section .btn-primary:hover{
    background: black;
    color: white;
}

.career_info h5{
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}

.career_info h4{
  border: black solid 1px;
  padding: 5px;
  text-align: center;
  font-size: 1.8em;
  background-color: #218838;
  color: white;
}

.career_info .col-4{
  border: black 1px solid;
}






/*==================Employer Zone
================================*/

.employer_slider {
  width:100%;
  display: block;
  text-align: center;
  /*background-image: url("../images/employer-zone.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

.employer_slider img{
  width:100%;
  /*height: 500px;*/
}

.employer_slider .btn-info{
    margin-top: -40%;
    margin-left: -30%;
    width: 300px;
    background-color: Transparent;
    color: black;
    border-radius: 0px;
    border: black solid 2px;
}

.employer_slider .btn-info:hover{
    background-color: black;
    color: lightgray;
}

.employer_slider .btn-primary{
  margin-top: -50%;
  margin-left: -30%;
  width: 300px;
  background-color: Transparent;
  color: black;
  cursor: pointer;
  border-radius: 0px;
  border: black solid 2px;

}
.employer_slider .btn-primary:hover{
  background-color: black;
  color: lightgray;
}

.employer_service{
  padding: 25px;
}

.employer_service .col-4{
  border: black solid 1px;
}

.employer_service h4{
  padding: 15px;
  border-bottom: #218838 solid 5px;}
.employer_choice{
  width: 100%;
  text-align: center;
}

.employer_choice img{
  width: 40%;
}

.page-heading{
  text-align: center;
  background-color: lightgray;
  color: black;
  padding: 5px;
  border: black solid 2px;
}



/*need help form ===
=========================*/
.help img{
  width: 100%;
}

.help .row{
  margin: 10px;
  text-align: center;
}

.help .row h6{
  text-align: justify;
}

.resume_help{
  padding: 10px;
    border: black solid 1px;
}

.resume_help img{
  width: 60%;
    padding: 5px;
}

.resume_help h3{
    border: black solid 1px;
    color: white;
    background: #1c7430;
    padding: 10px;
}

.search_tips{
  padding: 10px;
    border: black solid 1px;

}
.search_tips img {
  margin: 10px;
  width: 65%;
    padding: 5px;
}

.search_tips h3{
    border: black solid 1px;
    color: white;
    background: #1c7430;
    padding: 10px;
}

.career_news a{
  color: black;
}

.card-header{
    background-color: #1c7430;
    color: white;
    height: 80px;
    margin-bottom: 2%;
}

.card-body{
    text-align: center;
    font-size: 1.6em;
    border: black solid 1px;
    padding: 10px;
    margin-bottom: 4%;
}


/*Contact Page ===
================================*/

/*form{*/
/*background-color: lightgray;*/
/*padding: 25px;*/
/*}*/

.input-container{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.icon{
  min-width: 50px;
  margin: 10px;
}

.staff_member {
    border: black solid 1px;
    border-radius: 10px 35px 10px;
    background-color: #D6EAF8;
    padding: 25px;
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.staff_member .col-6{
  /*background: lightgray;*/
  /*border: black 1px solid;*/
  /*padding: 25px;*/
}

.staff_member img{
  border-radius: 130px;
    transition: transform .2s;
    margin: 0 auto;
  padding: 50px;
    height: 250px;
    width: 250px;
}

.staff_member img:hover{
    transform: scale(1.5);
}

.contact_form{
    border: black solid 1px;
    border-radius: 10px 28px 10px;
    margin-bottom: 2%;
    background-color:#ABEBC6 ;
    padding: 25px;
}

.contact_form .btn-primary{
    width: 40%;
    margin-left: 11%;
    background: #2ECC71;
    border: none;
    color: black;
}

.contact_form .btn-primary:hover{
    background-color: #1c7430;
    color: white;
}

address{
    padding-left: 3%;
    background-image: url("../images/worldmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2%;
    font-size: 1.6em;
    font-weight: bold;

}

/* Admin Heading --------- */
.admin-heading{
    text-align: center;
}

.container .btn-success{
    background: Transparent;
    border: black solid 1px;
    color: black;
    border-radius: 0px;
}

.addevent {
    padding: 8%;
    border: black solid 1px;
    border-radius: 10px 28px 10px;
    margin: 25px;
    text-align: center;
    width: 70%;
    margin-left: 10%;
}
.addevent label{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}

.addevent input{
    width: 100%;
}

.addevent button{
    padding: 10px;
    margin-top: 2%;
    background: Transparent;
    color: black;
    border: black solid 1px;
    width: 40%;
}

.addevent button:hover{
    background: black;
    color: white;
}

.container .btn-success:hover{
    background: black;
    color: white;
}

.addevent-head{
    border: black solid 1px;
   display: inline;
    padding: 10px;
}

.admin-para{
    text-align: center;
    font-size: 3.6em;
    padding: 15px;
    border: black 1px solid;
    border-radius: 8px 40px 8px;
    width: 100%;
    margin-left: 35%;
    background: Transparent;
    color: #218838;
}

.admin-para:hover{
    background: black;
    color: white;
    text-decoration: none;
}

/*footer section
-------------------*/
footer {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  background-color: #4aa2d4;
  color: white;
}
footer h6{
  text-decoration: underline;
  font-size: 1.2em;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: 'Marvel', sans-serif;
  font-size: 1.2em;
}

footer a:hover{
  background-color: lightgreen;
  text-decoration: none;
  color: white;
  padding: 2px;
  border-radius: 3px;
}
footer nav ul li {

  display: inline-block;
  text-decoration: none;
}
footer nav  ul li a img{
  width: 10%;
}
footer p{
  padding-bottom: -5px;
  text-align: center;
}


/*Mobile format
-----------------------*/

@media only screen and (max-width: 780px) {
  /*header section*/
  .navbar img{
    width: 200px;
    height: 150px;
  }
}