<% include ../shared/header.ejs%>
<h1>Add Details for Job</h1>
<form action="../postJobs/add" method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="title">Title*: </label>
        <input name="title" id="title" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2" for="description">Description*: </label>
        <textarea name="description" id="description" required ></textarea>
    </fieldset>
   <fieldset class="form-group">
        <label class="control-label col-md-2" for="requirements">Requirements*: </label>
       <textarea name="requirements" id="requirements" required ></textarea>
    </fieldset>
    <button class="offset-2 btn btn-primary">Save</button>
</form>

<% include ../shared/footer.ejs%>